.skills-container {
    grid-template-columns: repeat(2, 350px);
    column-gap: 3rem;
    justify-content: center;
}

.skills-content {
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills-title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills-box {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.skills-group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills-data {
    display: flex;
    column-gap: 0.5rem;
}

.skills .bx-badge-check {
    font-size: 1rem;
    color: var(--title-color);
}

.skill-name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

/* breakpoints */
@media screen and (max-width:992px) {
    .skills-container {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}
@media screen and (max-width:650px) {
    .skills-container {
        grid-template-columns: 1fr;
    }
    .skills-content{
        padding: 1.5rem;
    }
}
@media screen and (max-width:572px) {
    .skills-container {
        grid-template-columns: 1fr;
    }
    .skills-content{
        padding: 1.5rem;
    }
}

@media screen and (max-width:350px) {
    .skills-box{
        column-gap: 1.25rem;
    }
    .skill-name{
        font-size: var(--smaller-font-size);
    }
}

.front{
    margin-bottom: var(--mb-1);
}


