.home-container{
    row-gap: 7rem;
}
.home-content{
    grid-template-columns: 116px repeat(2,1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}

.home-social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home-social-icon{
    font-size: 1.5rem;
    color: var(--title-color);
}
.home-social-icon:hover{
    color: var(--title-color-dark);
}

.home-title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.home-description{
    max-width: 400px;
    margin-bottom: var(--mb-3);
}

.home-hand{
    width: 36px;
    height: 36px;
    margin-left: 0.5rem;
}

.home-subtitle{
    font-size: var(--h3-font-size);
    position: relative;
    padding-left: 5.4rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}

.home-subtitle::before{
    position: absolute;
    content: '';
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}

.home-img{
    background: url(../../assets/images/final.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgb(255 255 255/30%);
    order: 1;
    justify-self: center;
    width: 300px;
    height: 300px;
    animation: profile-animation 8s ease-in-out infinite 1s;
}

@keyframes profile-animation {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 40% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
.home-scroll{
    margin-left: 9.25rem;
}
.wheel{
    animation: scroll 2s ease-in-out infinite;
}
@keyframes scroll{
    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(5.75rem);
    }
}

.home-scroll-name{
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}
.home-scroll-arrow{
    font-size: 1.25rem;
    color: var(--title-color);
}



    @media screen and (max-width:992px) {
        .home-content{
            grid-template-columns: 100px repeat(2,1fr);
            column-gap: 1.25rem;
        }
        .home-hand{
            width: 26px;
            height: 26px;
            margin-left: 0.5rem;
        }
        .home-subtitle{
            padding-left: 3.75rem;
            margin-bottom: var(--mb-1);
        }
        
        .home-subtitle::before{
            width: 42px;
            top: 0.8rem;
        }

        .home-description{
            max-width: initial;
            margin-bottom: var(--mb-2-5);
        }
        .home-img{
            width: 250px;
            height: 250px;
            box-shadow: inset 0 0 0 8px rgb(255 255 255/30%);
        }
        .home-scroll{
            margin-left: 7.5rem;
        }
    }
    @media screen and (max-width:768px) {
        .home-content{
            grid-template-columns: 0.5fr 3fr;
            padding-top: 3.5rem;
        }
        .home-img{
            order: initial;
            justify-self: initial;
            width: 200px;
            height: 200px;
            box-shadow: inset 0 0 0 6px rgb(255 255 255/30%);
        }
        .home-data{
            grid-column: 1/3;
        }
        .home-scroll{
            display: none;
        }
    }
    
    @media screen and (max-width:350px) {
        .home-img{
            width: 180px;
            height: 180px;
        }
        .home-hand{
            width: 22px;
            height: 22px;
        }
    }